:root {
    --background_color: #84e1e1;
    --subheading_tex_color: #276672;
    --header-color: #1f2e2e;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--header-color);
    justify-content: space-between;
    color: var(--header-color);
    align-items: center;
}

body {
    background-color: #e6e6e6;
}

h1 {
    padding-left: 3%;
    background-color: var(--background_color);
    margin: 2% 0px 2%;
    font-size: 200%;
    font-family: serif;
}

nav {
    padding-right: 1%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}

nav li {
    padding: 0px 20px;
}

header a {
    color: var(--background_color);
    font-weight: bolder;
    font-size: 20px;
}

#title{
    position: relative;
    margin: 0px;
    background-color: var(--background_color);
    min-height: 100px;
}

h2 {
    color: var(--subheading_tex_color);
    font-size: 175%;
    font-family: serif;
}
#title h2 {
    position: absolute;
    bottom: 5px;
    right: 30px;
}

img {
    float: left;
    width: 20%;
    height: 100%;
    margin-right: 2%;

}

section {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    flex-wrap: wrap;
}

section p {
    line-height: 1.5;
    font-size: 20px;
    color: var(--subheading_tex_color);
}

aside {
    display: flex;
    justify-content: end;
    padding: 10px 10px 0 0;
    width: 15%;
    border-right: 5px solid var(--subheading_tex_color);
}
    

article {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 0 1% 1% 1%;
}

article ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* applications */

section a {
    color: var(--subheading_tex_color);
    font-weight: bolder;
    font-size: 20px;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.applications div {
    margin: 0 1% 1% 1%;
}


.surf-report {
    background-image: url(../images/title-background-image.png);
    min-height: 300px;

}

.LED-wall {

    background-image: url(../images/title-background-image.png);

}

.calculator {

    background-image: url(../images/title-background-image.png);

}

.pastel-puzzels {

    background-image: url(../images/title-background-image.png);

}

.run-buddy {

    background-image: url(../images/title-background-image.png);

}