:root {
    --background_color: #84e1e1;
    --subheading_text_color: #12373d;
    --header-color: #1f2e2e;
}

body {
    background-color: #e6e6e6;
}

/* header section*/
header {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--header-color);
    justify-content: space-between;
    color: var(--header-color);
    align-items: center;
}

h1 {
    padding-left: 3%;
    background-color: var(--background_color);
    margin: 2% 0px 2%;
    font-size: 200%;
    font-family: serif;
}

nav {
    padding-right: 1%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    min-width: 300px;
}

nav li {
    padding: 0px 20px;
}

header a {
    color: var(--background_color);
    font-weight: bolder;
    font-size: 20px;
}

#title{
    position: relative;
    margin: 0px;
    background-image: url(../images/background-image.png);
    background-color: var(--background_color);
    min-height: 100px;
}

h2 {
    text-align: right;
    color: var(--subheading_text_color);
    font-size: 175%;
    font-family: serif;
}
#title h2 {
    background-color: var(--background_color);
    position: absolute;
    bottom: 10px;
    right: 30px;
}

/* about me */
img {
    float: left;
    width: 150px;
    height: auto;
    margin-right: 2%;
}
#about-me p {
    display: flex;
    align-items: center;
    
}
section {
    display: flex;
    justify-content: space-between;
    padding: 2% 1%;
    flex-wrap: wrap;
}

section p {
    line-height: 1.5;
    font-size: 150%;
    color: var(--subheading_text_color);
    padding-left: 1%;
}

aside {
    display: flex;
    justify-content: end;
    padding: 10px 10px 0 0;
    width: 15%;
    border-right: 5px solid var(--subheading_text_color);
}
    

article {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 0 1% 1% 1%;
}

article ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* applications */
.applications p {
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: var(--background_color);
}

.applications a {
    color: var(--subheading_text_color);
    font-weight: bolder;
    text-decoration: none;
}

.applications {
    display: flex;
    flex-wrap: wrap;
}

article div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
    margin: 0 1% 1% 1%;
    width: 48%;
    border: 5px solid var(--background_color);
}


.surf-report {
    background-image: url(../images/Surf-report-image.jpg);
    width: 100%;
    min-height: 300px;

}

.LED-wall {
    background-image: url(../images/LED-wall-image.jpg);
    
}

.calculator {

    background-image: url(../images/calculator-image.jpg);

}

.pastel-puzzels {

    background-image: url(../images/pastel-puzzels.jpg);

}

.run-buddy {

    background-image: url(../images/run-buddy-image.jpg);

}

/* contact me section */

#contact a {
    color: var(--subheading_text_color);
    font-weight: bolder;
    font-size: 20px;
}

/* media query */
@media screen and (max-width: 720px) {
    ul{
        flex-direction: column;
    }

    ul li {
        margin: 5px;
    }
    
    .project {
        flex-basis: 100%;
    }

}